1. What are data structures, and why are they important?
   - data structures are ways to organize and store data so it can be used efficiently. They're important because they allow us to manage large amounts of data in a way that's fast and efficient for different operations like searching, sorting, and updating.

2. Explain the difference between mutable and immutable data types with examples.
   - mutable data types can be changed after they are created. For example, a list in Python can have its items changed or added:
   
   - python
   - Copy
   - Edit
   - my_list = [1, 2, 3]
   - my_list[0] = 5
   - Immutable data types cannot be changed after creation. Strings and tuples are examples:

   - python
   - Copy
   - Edit
   - my_str = "hello"
# my_str[0] = 'H'  # This will cause an error

3. What are the main differences between lists and tuples in Python?
Lists are mutable; tuples are immutable.

   - lists use square brackets []; tuples use parentheses ().

    Tuples are generally faster and used when data shouldn’t change.

4. Describe how dictionaries store data.
   - dictionaries store data in key-value pairs. Each key maps to a value, and keys must be unique. Behind the scenes, Python uses a hash table to make data access very fast.

5. Why might you use a set instead of a list in Python?
   - sets automatically remove duplicate items and offer faster membership checks (in keyword). They're great when you need unique values.

6. What is a string in Python, and how is it different from a list?
  - a string is a sequence of characters. Unlike lists, strings are immutable, meaning you can't change individual characters once the string is created.

7. How do tuples ensure data integrity in Python?
   - since tuples are immutable, their contents can’t be changed accidentally, which makes them safer to use when data must remain constant.

8. What is a hash table, and how does it relate to dictionaries in Python?
   - a hash table is a data structure that maps keys to values using a hash function. In Python, dictionaries are implemented as hash tables, enabling fast lookups.

9. Can lists contain different data types in Python?
   - yes, Python lists can hold different data types, such as integers, strings, and even other lists.

10. Explain why strings are immutable in Python.
    - strings are immutable to improve performance and security. Since they can't be changed, they’re safe to use as keys in dictionaries and in concurrent programs.

11. What advantages do dictionaries offer over lists for certain tasks?
    - dictionaries allow fast access to values using keys, making them ideal for lookups. In contrast, lists require searching through the entire list to find an item.

12. Describe a scenario where using a tuple would be preferable over a list.
    - tuples are ideal when you want to store related, unchangeable data — like a coordinate (x, y) or a fixed configuration.

13. How do sets handle duplicate values in Python?
    - sets automatically discard duplicate values, so each element appears only once.

14. How does the in keyword work differently for lists and dictionaries?
    - in a list, in checks for a value:

     - python
     - Copy
     - Edit
     - 3 in [1, 2, 3]  # True
     - In a dictionary, it checks for a key:
     
     - python
     - Copy
     - Edit
     - 'name' in {'name': 'Alice'}  # True
15. Can you modify the elements of a tuple? Explain why or why not.
    - no, tuples are immutable, so you cannot change their elements after creation.

16. What is a nested dictionary, and give an example of its use case.
    - a nested dictionary has dictionaries inside another dictionary. It's useful for structured data, like storing student records:
    python
    Copy
    Edit
    students = {
      "Alice": {"age": 20, "grade": "A"},
      "Bob": {"age": 22, "grade": "B"}
    }
17. Describe the time complexity of accessing elements in a dictionary.
    - accessing an element by key in a dictionary is on average O(1) time — constant time — thanks to hashing.

18. In what situations are lists preferred over dictionaries?
    - when order matters or you're dealing with sequences of values without named keys, lists are preferred.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
     - until Python 3.7, dictionaries didn't maintain insertion order. Now they do, but logically they are still accessed by keys, not order, which affects how you iterate through them.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
    - list: Retrieval is based on index.
    
    Dictionary: Retrieval is based on key.

In [8]:
# PRACTICAL QUESTION
# 1. Create a string with your name and print it
name = "John Doe"
print(name)

John Doe

In [9]:
# 2. Find the length of the string "Hello World"
print(len("Hello World"))

11

In [10]:
# 3. Slice the first 3 characters from the string "Python Programming"
print("Python Programming"[:3])

Pyt

In [11]:
# 4. Convert the string "hello" to uppercase
print("hello".upper())

HELLO

In [12]:
# 5. Replace "apple" with "orange" in the string
print("I like apple".replace("apple", "orange"))

I like orange

In [13]:
# 6. Create a list with numbers 1 to 5 and print it
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [14]:
# 7. Append the number 10 to the list [1, 2, 3, 4]
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [15]:
# 8. Remove the number 3 from the list [1, 2, 3, 4, 5]
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [16]:
# 9. Access the second element in the list ['a', 'b', 'c', 'd']
print(['a', 'b', 'c', 'd'][1])

b

In [17]:
# 10. Reverse the list [10, 20, 30, 40, 50]
lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

In [18]:
# 11. Create a tuple with elements 100, 200, 300 and print it
tpl = (100, 200, 300)
print(tpl)

(100, 200, 300)

In [19]:
# 12. Access the second-to-last element of the tuple
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [20]:
# 13. Find the minimum number in the tuple
tpl = (10, 20, 5, 15)
print(min(tpl))

5

In [21]:
# 14. Find the index of "cat" in the tuple
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

In [22]:
# 15. Create a fruit tuple and check if "kiwi" is in it
fruits = ("apple", "banana", "mango")
print("kiwi" in fruits)

False

In [23]:
# 16. Create a set with 'a', 'b', 'c' and print it
s = {'a', 'b', 'c'}
print(s)

{'b', 'a', 'c'}

In [24]:
# 17. Clear all elements from the set
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [25]:
# 18. Remove 4 from the set
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [26]:
# 19. Union of two sets
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

In [27]:
# 20. Intersection of two sets
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

In [28]:
# 21. Create a dictionary and print it
person = {"name": "Alice", "age": 30, "city": "Paris"}
print(person)

{'name': 'Alice', 'age': 30, 'city': 'Paris'}

In [29]:
# 22. Add a key "country": "USA"
person = {'name': 'John', 'age': 25}
person["country"] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [30]:
# 23. Access value with key "name"
d = {'name': 'Alice', 'age': 30}
print(d["name"])

Alice

In [31]:
# 24. Remove key "age"
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del d["age"]
print(d)

{'name': 'Bob', 'city': 'New York'}

In [32]:

# 25. Check if key "city" exists
d = {'name': 'Alice', 'city': 'Paris'}
print("city" in d)

True

In [33]:
# 26. Create a list, tuple, and dictionary, and print them
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 1, "b": 2}
print(my_list, my_tuple, my_dict)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

In [34]:
# 27. List of 5 random numbers and sort it
import random
nums = random.sample(range(1, 101), 5)
nums.sort()
print(nums)

[28, 30, 51, 80, 87]

In [35]:
# 28. List with strings and print element at third index
words = ["apple", "banana", "cherry", "date", "elderberry"]
print(words[3])

date

In [36]:
# 29. Combine two dictionaries
d1 = {"a": 1, "b": 2}
d2 = {"c": 3, "d": 4}
combined = {**d1, **d2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [37]:
# 30. Convert list of strings into a set
str_list = ["apple", "banana", "apple", "cherry"]
str_set = set(str_list)
print(str_set)

{'banana', 'apple', 'cherry'}